/* --- Estilos para HOME --- */
#app.home-view {
    background-color: #ff9900; /* Naranja Goku */
    background-image: url('nubes.png');
    font-family: 'Arial Black', sans-serif;
}

#app.home-view h1 {
    color: white;
    text-shadow: 2px 2px #000;
}

/* --- Estilos para CHAT --- */
#app.chat-view {
    background-color: #3e9a49; /* Oscuro moderno */
    display: flex;
    justify-content: center;
}

#app.chat-view #messages {
    border: 2px solid #0055ff;
    border-radius: 10px;
}

/* --- Estilos para ABOUT --- */
#app.about-view {
    background-color: #f0f0f0;
    color: #333;
}